@model stoktakip.Models.users
@{
    ViewData["Title"] = "Kullanıcı Güncelle";
    var user = Model;
}


<div class="row justify-content-center">

    <div class="col-xl-8 col-lg-8 col-md-7">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Kullanıcı Düzenle!</h1>
                            </div>
                            <form class="user" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="edit">    
                                <div hidden class="form-group">
                                    <input id="Id" type="text" class="form-control form-control-user" name="Id" value="@user.ID">
                                </div>

                                <div class="form-group">
                                    <input id="name" type="text" class="form-control form-control-user" name="name" required placeholder="Adı" value="@user.name">
                                </div>
                                <div class="form-group">
                                    <input id="surname" type="text" class="form-control form-control-user" name="surname" required placeholder="Soyadı" value="@user.surname">
                                </div>
                                <div class="form-group">
                                    <input id="username" type="text" class="form-control form-control-user" name="username" required placeholder="Kullanıcı Adı" value="@user.username">
                                </div>
                                <div class="form-group">
                                    <input id="userpass" type="text" class="form-control form-control-user" name="userpass" required placeholder="Şifre" value="@user.userpass">
                                </div>
                                <div class="form-group">
                                    <input id="usermail" type="text" class="form-control form-control-user" name="usermail" required placeholder="Mail" value="@user.usermail">
                                </div>
                                <div class="form-group">
                                    <td>Rolü: </td>
                                    <td><input type="text" id="roleId" name="roleId" value="@user.roleId" required /></td> <label for="Rol">(1=Admin,2=User)</label>
                                </div>
                              

                                <button type="submit" class="btn btn-primary btn-user btn-block" onclick="return kaydet()">Kaydet</button>


                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    function kaydet() {
        var roleValue = document.getElementById("roleId").value;

        if (roleValue !== "1" && roleValue !== "2") {
            alert("Geçersiz rol değeri!");
            return false; 
        }

        return true; 
    }
</script>


































